.content {
    padding-top: 60px;
    padding-bottom: 0px;
}

.content ol li::marker, .content ul li::marker {
    color: var(--text-secondary);
}

.content figure {
    margin: 30px 0;
}

.content figure figcaption {
    font-size: 14px;
    color: var(--text-secondary);
    text-align: center;
    padding: 10px;
}