.footer {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    margin-right: 30px;
}

.logo__image {
    filter: var(--logo-filter);
}

.logo__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


